﻿@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="app">
	<section v-if="authenticated">
		<p>{{username}}</p>
	</section>

	<section v-else>
		<input v-model="login" />
		<button v-on:click="onLogin">Login</button>
	</section>
</div>

<script>
	new Vue({
		el: '#app',
		data() {
			return {
				authenticated: false,
				username: localStorage.username,
				errored: '',
				loading: false,
				login: ''
			};
		},
		//mounted() {
		//	fetch('/GroupCheck/Test/Atas', { method: 'POST', body: JSON.stringify({ Login: 'admin', Password: 'qwerty' }) })
		//		.then(response => {
		//			this.authenticated = true;
		//			this.username = "admin"
		//		})
		//		.catch(error => {
		//			console.log(error);
		//			this.errored = true;
		//		})
		//		.finally(() => (this.loading = false));
		//}
		methods:
		{
			onLogin: function () {
				fetch('/gc/api/Account/GetToken', {
					method: 'POST', headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/json'
					}, body: JSON.stringify({ Email: 'ekhavlad@gmail.com', Password: '123' })
				})
					.then(response => {
						console.log(response);
						this.authenticated = true;
						this.username = "admin"
					})
					.catch(error => {
						console.log(error);
						this.errored = true;
					})
					.finally(() => (this.loading = false));
			}
		}
	});
</script>