﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<link href="~/Content/site.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/vue.min.js"></script>
	<script src="~/Scripts/vue-router.min.js"></script>
</head>
<body>
	@Html.Action("ZhopaPartial", "Shared");
	@RenderBody()
</body>
</html>
